[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vtraineau
[access "refs/for/refs/*"]
	read = group user/vtraineau
	push = group user/vtraineau
	label-Code-Review = -2..+2 group user/vtraineau
	label-Verified = -1..+1 group user/vtraineau
	rebase = group user/vtraineau
	removeReviewer = group user/vtraineau
	submit = group user/vtraineau
[access "refs/heads/*"]
	read = group user/vtraineau
	create = group user/vtraineau
	push = +force group user/vtraineau
	pushMerge = group user/vtraineau
[access "refs/tags/*"]
	push = group user/vtraineau
	push = +force group user/vtraineau
[project]
	description = example demo of using gerrit
[receive]
	requireSignedOffBy = true
	requireChangeId = true
