[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vivien T (vtraineau)
[access "refs/for/refs/*"]
	read = group user/Vivien T (vtraineau)
	push = group user/Vivien T (vtraineau)
	label-Code-Review = -2..+2 group user/Vivien T (vtraineau)
	label-Verified = -1..+1 group user/Vivien T (vtraineau)
	rebase = group user/Vivien T (vtraineau)
	removeReviewer = group user/Vivien T (vtraineau)
	submit = group user/Vivien T (vtraineau)
[access "refs/heads/*"]
	read = group user/Vivien T (vtraineau)
	create = group user/Vivien T (vtraineau)
	push = +force group user/Vivien T (vtraineau)
	pushMerge = group user/Vivien T (vtraineau)
[access "refs/tags/*"]
	push = group user/Vivien T (vtraineau)
	push = +force group user/Vivien T (vtraineau)
[project]
	description = example demo of using gerrit
[receive]
	requireSignedOffBy = true
	requireChangeId = true
